<div @onClose *ngIf="isShown" margin-bottom>
  <div class="cart-item__container margin-slim">
    <div class="padding-slim cart-item__title-container display-flex" justify-content-between [style.background-color]="cartItem.category.color">
      <ion-text class="cart-item__title" [style.color]="cartItem.category.font_color">{{cartItem.name}}</ion-text>
      <ion-text [style.font-size.rem]="0.8" align-self-center [style.color]="cartItem.category.font_color" class="bold">{{cartItem.category.ds_category}}</ion-text>
    </div>
    <ion-thumbnail class="cart-item__image-container">
      <ion-img *ngIf="cartItem.img" class=".cart-item__image" src="{{cartItem.img}}"></ion-img>
    </ion-thumbnail>
    <div padding>
      <ion-text>
        {{cartItem.qtty}} x {{cartItem.price | currency: 'USD' }} =
        <strong>
          {{cartItem.qtty * cartItem.price | currency: 'USD'}} 
        </strong>
      </ion-text>
    </div>
    <div padding>
      <ion-row>
        <ion-col size="3" no-padding>
          <ion-button (click)="presentDeleteModal()" color="danger" expand="full">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3" no-padding>
          <ion-button color="light" expand="full" (click)="add()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3" no-padding text-center align-self-center>
          <ion-text>{{cartItem.qtty}}</ion-text>
        </ion-col>
        <ion-col size="3" no-padding>
          <ion-button color="light" expand="full" (click)="decrease()" [disabled]="cartItem.qtty - 1 == 0">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>