<ion-header>
  <ion-toolbar>
    <ion-title>
      Burguers
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button (click)="openFilterModal()">
      <ion-icon src="assets/custom-ion-icons/filter.svg"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-searchbar animated [debounce]="500" [(ngModel)]="searchText" (ionChange)="onSearchBarChanged()"></ion-searchbar>
</ion-toolbar>



<ion-content padding>
  <burguer-list [burguers]="burguers"></burguer-list>

  <ion-infinite-scroll #infiniteScroll text-center (ionInfinite)="loadMoreData()">
    <ion-spinner name="crescent" color="danger"></ion-spinner>
  </ion-infinite-scroll>
</ion-content>