<ion-header>
  <ion-toolbar>
    <ion-title>Add a burguer</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dissmissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="onFormSubmit()" margin-top>
    <ion-item no-margin no-padding>
      <ion-label>Name</ion-label>
      <ion-input type="text" placeholder="Name of the burguer" formControlName="name"></ion-input>
    </ion-item>
    <ion-item no-margin no-padding>
      <ion-label>Description</ion-label>
      <ion-input type="text" placeholder="Description" formControlName="description"></ion-input>
    </ion-item>
    <ion-item no-margin no-padding>
      <ion-label>Price</ion-label>
      <ion-input formControlName="price" [brmasker]="{form: form.get('price'), money: true, thousand: ',',  numberAndTousand: true, decimalCaracter: '.', decimal: '2'}"
        placeholder="$ 0.00"></ion-input>
    </ion-item>
    <input #inputFile hidden type="file" (change)="fileChange($event.target.files)">
    <ion-button color="secondary" margin-top expand="full" class="pointer" (click)="selectImage(inputFile)" type="button">
      <ion-icon color="light" name="camera"></ion-icon>
    </ion-button>

    <ion-button expand="full" [disabled]="!isFormValid" color="primary" type="submit">Add
      burguer</ion-button>
  </form>
</ion-content>