// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.display-flex {
    display: flex;
}

.margin-left-slim {
    margin-left: 0.5rem;
}

.margin-right-slim {
    margin-right: 0.5rem;
}

.margin-h-slim {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.margin-v-slim {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.padding-slim {
    padding: 0.5rem;
}

.margin-slim {
    margin: 0.5rem;
}

.bold {
    font-weight: bold;
}

.no-padding-top {
    padding-top: 0;
}

.padding-v-no-top {
    padding: 0 1rem 1rem 1rem;
}